body{

background:#ddd;

font-family:Arial;

text-align:center;

}

.noticia{

background:white;

width:500px;

padding:20px;

margin:20px auto;

}

.galeria{

display:flex;

flex-wrap:wrap;

justify-content:center;

}