body{
    background:#efefef;
    font-family:Arial;
}

.container{

    width:780px;

    background:#d9d9d9;

    margin:30px auto;

    display:flex;

    flex-wrap:wrap;

    padding:8px;

}

.card{

    width:205px;

    background:white;

    margin:5px;

    border:1px solid #ccc;

}

.card img{

    width:205px;

    height:150px;

    display:block;

}

.card p{

    margin:8px;

    font-size:14px;

}

.texto{

    width:780px;

    margin:auto;

    text-align:justify;

    font-size:13px;

    line-height:22px;

}