body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.noticia{
    background: white;
    width: 500px;
    margin: 20px;
    padding-left: 15px;
    padding-right: 10px;
    text-align: justify;
    line-height: 24px;
    border: 1px solid #ccc;
}

.noticia h1{
    margin: 8px;
}

.imagem{
    width: 150px;
    padding: 10px;
    float: left;
}

.galeria-body{
    background: #d9d9d9;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    background: white;
    padding: 10px;
    border: 1px solid #999;
}

.card img{
    width: 250px;
    height: 180px;
    object-fit: cover;
}